.tabs
  position: relative;
  margin: 0 0 -3px;
  color: #858f97;
  overflow: hidden;

.tabs > ul
  margin: 0 0 3px;
  padding: 0;

.tabs__tab
  margin-right: .8em;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  background: #191c27;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2.1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: .95;

.tabs__tab-0
  background: #a049ff;

.tabs__tab-1
  background: #5c49ff;

.tabs__tab-2
  background: #f18539;

.tabs__tab-3
  background: #f85a56;

.tabs__tab:hover
  opacity: 1;

a.active, a:hover
  color: #a9ecff;

.tabs__tab, a
  text-transform: uppercase;
  font-size: .8em;
  line-height: 16px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
  -ms-transition: color 250ms ease;
  transition: color 250ms ease;

a
  color: #7889c3;

